input, button {outline:none;}

.header-row__find {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/*border: 1px solid red;*/
}

.line {
	height: 32px;
	width: 2px; 
	background-color: #eee;
}

.d-flex {
	display: flex;
	align-items: center;
}

/*-=========*/
.city-from {
	padding-left: 48px;
}

city-from input{cursor: pointer;}

.city-from input {
	padding-left: 10px;
	border: 0px;
	font-size: 18px;
	color: #6b6b6b;
	line-height: auto;
	font-family: FiraSans;

}

.city-from__title {
	font-family: MyriadPro;
	color: #232323;
	font-size: 12px;
	line-height: 25px;
}


.data__text {
	color: #383838;
	font-family: FiraSans;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.data__text img {margin-left: 28px;}

.data_title {
	color: #232323;
	font-family: MyriadPro;
	font-size: 12px;
	line-height: 25px;
}

.data-start img {
	margin-right: 10px;
}

.point {
	width: 2px;
	height: 2px;
	background: #8b9198;
	margin-left: 28px;
}

.arrow-top:hover {
 	cursor: pointer;
	border-bottom: 8px solid #ed9915;
}
.arrow-down:hover {
 	cursor: pointer;
	border-top: 8px solid #ed9915;
}
.arrow-top {
	margin: 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom:  8px solid #8b9198;
}

.arrow-down {
	margin: 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #8b9198;
}

.counter-number-label {
	max-width: 214px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.number-counter__title {
	color: #232323;
	font-family: MyriadPro;
	font-size: 12px;
	line-height: 25px;
}

.number input {
	text-align: center;
	width: 30px;
	height: 25px;
	border: 1px solid #8b9198;
	font-family: AvenirNextcyrMedium;
	font-size: 16px;
	color: #8b9198;
}


.btn-find button{
	width: 170px;
	height: 62px;
	background-color: #ed9915;
	color: #ffffff;
	font-family: MyriadPro;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 18px;
	border: 0px;
	cursor: pointer;
}

