@media screen and (max-width: 1200px) { 
	.header-row__find {
		width: 90%;
		margin: 0 auto;
		} 
	.city-from {padding-left: 10px;}
	.point {display: none;}

	 }
/*@media screen and (max-width: 992px) {  }*/
/*@media screen and (max-width: 768px) {  }*/

@media screen and (max-width: 576px) { 
	.btn-find button {margin: 0px;}
	.btn-find {margin: 5px auto;}
	.city-from {padding: 0px;}
	

}

